*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.move-to{
    display: inline-block;
    background:blue;
    padding-left: 26px;
    color: white;
    text-decoration: none;
    line-height: 64px;
}
.move-to::after{
    content: '>';
    display: inline-block;
    background-color: slateblue;
    width: 59px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    margin-left: 26px;
}